<!DOCTYPE html>
<html>
  <head>
    <title>Storm Alert</title>
  </head>
  <body>
    <div id="content">
      Hello World
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/bundle.js" charset="utf-8"></script>
</html>
